/* Tipografía */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    line-height: var(--lh);
    color: var(--color-primary);
    margin-bottom: var(--spacing-md);
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

p {
    margin-bottom: var(--spacing-md);
    color: var(--color-accent);
    font-family: var(--font-secondary-episodios);
    font-weight: var(--font-weight-regular);
    line-height: var(--lh);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-hover);
}
